body {
  background: url(../img/bg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.content {
  width: 686px;
  height: 390px;
  background: #111a28;
  box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 300px;
}
.content__logo {
  padding: 20px 0 0 20px;
}
.content__images {
  margin-top: 58px;
  padding-left: 20px;
}
/* slides */
#block-for-slider {
  width: 400px;
  margin-top: 58px;
  margin-left: -15px;
}

#viewport {
  width: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
}

#slidewrapper {
  width: calc(100% * 4);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1);
  -o-transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1);
  transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1);
}

#slidewrapper,
#slidewrapper ul,
#slidewrapper li {
  margin: 0;
  padding: 0;
}

.slide {
  width: calc(100% / 4);
  list-style: none;
  float: left;
}

.slide-img {
  width: 330px;
  height: 160px;
}
#nav-btns {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

[class^="slide-nav-btn"] {
  display: inline-block;
  list-style: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 3px;
  margin-top: 81px;
}
.slide-nav-btn-1 {
  background: #1f273f;
}
.slide-nav-btn-2 {
  background: #ffffff;
}

.slide-nav-btn-3 {
  background: #ed3333;
}

.slide-nav-btn-4 {
  background: #29e3ea;
}

[class^="slide-nav-btn"]:hover {
  cursor: pointer;
}
.aside {
  min-width: 200px;
  margin: 66px 55px 65px 46px;
}
.aside__title {
  margin: 0;
  font-family: "Mukta";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.05em;
  color: #e1e1e1;
}
.aside__subtitle {
  margin: 0;
  font-family: "Mukta";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #e1e1e1;
  opacity: 0.54;
}
.input__rating[type="radio"] {
  display: none;
}
.label__rating {
  cursor: pointer;
  color: white;
  margin-top: 23px;
  margin-right: 3px;
  font-size: 9px;
  float: right;
  display: block;
}
.label__rating::before {
  font-family: "FontAwesome";
  content: "\f005";
}
/*Пишем правила смены положения background-а*/
.input__rating + .label__rating:hover, /*Правило для ховера на текущий лейбл*/
  .input__rating + .label__rating:hover ~ .label__rating, /*Правило для всех следующих лейблов по DOM дереву*/
  .input__rating[type="radio"]:checked ~ .label__rating /*Правило для всех следующих лейблов после выбранного инпута, чтобы звездочки как бы зафиксировались*/
 {
  color: #f7bf16;
}
.list {
  margin-top: 25px;
  margin-right: 5px;
  width: 70px;
  height: 32px;
  background: #111a28 url(../img/strelka.png) no-repeat 84% 54%;
  opacity: 0.25;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: #e1e1e1;
  outline: none;
  cursor: pointer;
  padding: 6px 0 6px 11px;
  -webkit-appearance: none;
}
.list__content {
  outline: none;
  font-family: "Mukta";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  cursor: pointer;
  color: #e1e1e1;
}
.btn {
  display: block;
  font-family: "Mukta";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
  color: #e1e1e1;
  text-decoration: none;
  margin-top: 20px;
  width: 200px;
  height: 40px;
  background: #111a28;
  opacity: 0.25;
  letter-spacing: 0.05em;
  border: 1px solid #ffffff;
  padding: 10px 63px;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background: #4c525a;
  opacity: 0.5;
  border: 1px solid #FFFFFF;
}
.btn:active {
  opacity: 0;
}
